[submodule "Unitiva-ODOO/ngd-odoo-sh"]
	path = Unitiva-ODOO/ngd-odoo-sh
	url = git@github.com:Unitiva-ODOO/ngd-odoo-sh.git
	branch = 14.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 14.0
